@font-face {
  font-family: 'Notdef';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/AND-Regular.otf');
}

@font-face {
  font-family: 'Notdef';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/AND-Regular.otf');
}

@font-face {
  font-family: 'Notdef';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/AND-Regular.otf');
}

@font-face {
  font-family: 'Notdef';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/AND-Regular.otf');
}