/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora-v13-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* lora-italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/lora-v13-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora-v13-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora-v13-latin-italic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* lora-700 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lora-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora-v13-latin-700.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* lora-700italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/lora-v13-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora-v13-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora-v13-latin-700italic.ttf') format('truetype'); /* Safari, Android, iOS */
}